<mat-toolbar>
    <button mat-icon-button (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>수련회 정보</span>
    <span class="spacer"></span>
    <mat-spinner diameter="30" stroke-width="5" *ngIf="(info | async) == null"></mat-spinner>
    <button mat-icon-button [matMenuTriggerFor]="account"><mat-icon [class.grey]="!loggedIn">account_circle</mat-icon></button>
    <mat-menu #account="matMenu">
        <ng-template matMenuContent>
            <button mat-menu-item disabled>{{loggedIn ? "로그인 됨" : "로그인 안 됨"}}</button>
            <button mat-menu-item [routerLink]="loggedIn ? null : '/login'" (click)="logout()">{{loggedIn ? "로그아웃하기" : "로그인하기"}}</button>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #nav>
        <mat-nav-list>
            <mat-list-item *ngFor="let route of routes" [routerLink]="route.path" (click)="nav.close()">
                <mat-icon *ngIf="route.icon">{{route?.icon}}</mat-icon>
                <a mat-list-item>{{route.label}}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-card *ngIf="(info | async) as info">
            <mat-card-header>
                <mat-card-title>{{ info.name }}</mat-card-title>
                <mat-card-subtitle>{{ info.grade }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>ID: {{ info.memId }}</mat-list-item>
                    <mat-list-item>캠퍼스: {{ info.campus }}</mat-list-item>
                    <mat-list-item>생년월일: {{ info.dt_birth | date:'longDate' }}</mat-list-item>
                    <mat-list-item>연락처: {{ info.mobile }}</mat-list-item>
                    <ng-template #gbsElse>
                        <mat-list-item>최근 GBS 정보 없음</mat-list-item>
                    </ng-template>
                    <mat-list *ngIf="nonNull(info.gbsInfo); else gbsElse">
                        최근 GBS 정보: 
                        <mat-list-item>과정: {{ info.gbsInfo.gbs }}</mat-list-item>
                        <mat-list-item>조원구분: {{ info.gbsInfo.position }}</mat-list-item>
                    </mat-list>
                    <ng-template #retreatGbsElse>
                        <mat-list-item>최근 수련회 GBS 정보 없음</mat-list-item>
                    </ng-template>
                    <mat-list *ngIf="nonNull(info.retreatInfo); else retreatGbsElse">
                        최근 수련회 GBS 정보: 
                        <mat-list-item>참가 수련회 ID: {{ info.retreatInfo.retreatId }}</mat-list-item>
                        <mat-list-item>과정: {{ info.retreatInfo.gbs }}</mat-list-item>
                        <mat-list-item>조원구분: {{ info.retreatInfo.position }}</mat-list-item>
                        <mat-list-item>{{ info.retreatInfo.attendAll ? "수련회 전일 참석" : "수련회 부분 참석" }}</mat-list-item>
                        <mat-list-item>참석 날짜 및 시간: {{ info.retreatInfo.dayTimeList.length > 0 ? info.retreatInfo.dayTimeList.join(', ') : "없음" }}</mat-list-item>
                    </mat-list>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button (click)="register()">{{ (already | async) ? "수정" : "등록" }}하기</button>
            </mat-card-actions>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>